#welcome{
    position: absolute;
    width: 100vw;
    height: 170px;
    left: 0px;
    top: 104px;
    border-bottom: #000000 solid 1px;
}
#welcome::before {    
    content: "";
    background-image:url(/assets/icons/background.jpg) ;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
#content-1{
/* Mais conteudo? */

position: absolute;
width: 240px;
height: 46px;
left: 13px;
top: 117px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 43px;
color: #000000;
}
#content-2{

/* Me siga nas redes sociais! */

position: absolute;
width: 489px;
height: 43px;
left: 13px;
top: 163px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #000000;
}

#frame12{
    /* Frame 12 */

    position: absolute;
    width: 40px;
    height: 40px;
    left: 14px;
    top: 188px;
}
#frame12 img{
    width: 40px;
    height: 40px;
}
#frame11 img{
    width: 40px;
    height: 40px;
}
#frame11{
    /* Frame 11 */

    position: absolute;
    width: 40px;
    height: 40px;
    left: 63px;
    top: 188px;
}
@media only screen and (min-width: 600px)
{
    #welcome{
        height: 240px;
    }
    
    #content-1{
    /* Mais conteudo? */
    
    width: 485px;
    height: 138px;
    left: 202px;
    top: 126px;
   
    font-size: 64px;
    line-height: 86px;
    }
    #content-2{
    
    /* Me siga nas redes sociais! */
    
    height: 43px;
    left: 205px;
    top: 205px;
   
    font-size: 20px;
    line-height: 30px;
    
    }
    
    #frame12{
        /* Frame 12 */
    width: 65px;
    height: 65px;
    left: 274px;
    top: 242px;
    }
    #frame12 img{
      
        width: 65px;
        height: 65px;
      
    }
    #frame11 img{
     
    width: 65px;
    height: 65px;
    }
    #frame11{
    width: 65px;
    height: 65px;
    left: 201px;
    top: 242px;
    
    }
}