#welcome{
    position: absolute;
    width: 100vw;
    height: 244px;
    left: 0px;
    top: 104px;
    border-bottom: #000000 solid 1px;
}
#welcome::before {    
    content: "";
    background-image:url(/assets/icons/background.jpg) ;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
#group16{
    position: absolute;
    height: 203px;
    left: 201px;
    top: 104px;


}
.content{
    
position: absolute;
width: 937px;
height: 170px;
left: 201px;
top: 104px;
}
/* Mais conteudo? Me siga nas redes sociais! */
#content-1{
/* Mais conteudo? */

position: absolute;
width: 485px;
height: 138px;
left: 202px;
top: 126px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;

color: #000000;
}
#content-2{

/* Me siga nas redes sociais! */

position: absolute;
width: 489px;
height: 43px;
left: 205px;
top: 205px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #000000;
}

#frame12{
    /* Frame 12 */

position: absolute;
width: 65px;
height: 65px;
left: 274px;
top: 242px;
}
#frame12 img{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 0.5px;
    top: 0px;
}
#frame11 img{
    position: absolute;
width: 65px;
height: 65px;
left: 0.5px;
top: 0px;
}
#frame11{
    /* Frame 11 */

position: absolute;
width: 65px;
height: 65px;
left: 201px;
top: 242px;


}