#article{
    background: #FFEFE8;
    width: 95%;
    height: auto;
    margin-top: 20px;
}
img{
    max-width: 90vw;
}
.title{
        
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #50372B;
    
    }
    .sub-title{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: #50372B;
    }
@media only screen and (min-width:600px){
    #article{
        width: 100%;
        height: auto;
        width: 700px;
        margin-top: 0px;
    }
    .title{
        font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    }
}