
#list{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
#last-pub{
    font-family: 'Poppins';
    font-size: 20px;
}
.element{
    height: 120px ;
    margin-top: 20px;
    margin-right: 20px;
}
/* Desktop view */
@media only screen and (min-width:600px) {
    #list{
        width: 700px;
        align-items: flex-start;
    }
    .element{
        margin-right: 0px;
    }
}