
#article {
    background: #FFEFE8;
    width: 90vw;
    height: auto;
    margin-top: 20px;
    padding: 30px;
}

img {
    max-width: 90%;
}

code {
    color: #ff7a3c;
    background-color: black;
}

.title {

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #50372B;

}

.sub-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: #50372B;
}

.content {
    font-family: 'Poppins';
    font-size: large;
}
pre i{
    display: flex;
}

@media only screen and (min-width:600px) {
    #article {
        height: auto;
        width: 700px;
        margin-top: 0px;
    }

    .title {
        font-weight: 400;
        font-size: 48px;
        line-height: 66px;
    }
}
