p{
    position: absolute;
    top: 338px ;
    font-family: 'Poppins';
    font-size: 20px;
}
#body{
    position: absolute;
    top: 368px;
    border: black solid 1px;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
#list{
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    width: 700px;
}
#topics{
    border: black solid 1px;
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
.element{
    border: black solid 1px;
    height: 120px ;
    margin-top: 20px;
}