#last-pub{
    font-family: 'Poppins';
    font-size: 20px;
}
#body{
    position: absolute;
    top: 368px;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
#list{
    display: flex;
    flex-direction: column;
    width: 700px;
}
#topics{
    max-width: 350px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}
#topics :nth-child(1){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 21px;
}
.element{
    height: 120px ;
    margin-top: 20px;
}