
  <app-header></app-header>
  <app-welcome></app-welcome>

  <div id="body">
    

    <div id="list" >
      <div id="last-pub">Ultimas Publicações</div>
      <div class="element" *ngFor="let art of articles"> 
        <app-element-list [article]="art">
        </app-element-list>
      </div>
      
    </div>
   <div id="topics">
    <div>Descubra artigos</div>
    <app-article-link topic=".Net Core"> </app-article-link>
    <app-article-link topic="Primeiros Passos"> </app-article-link>
    <app-article-link topic="Identity"> </app-article-link>
    <app-article-link topic="Entity Framework"> </app-article-link>
    <app-article-link topic="Padrões de Projeto"> </app-article-link>
   
  </div>
  </div>

